<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    
    <title>BLAW</title>
</head>
<body>

    <!--header--menu-->
    <header>

        <div class="container__header">
            <div class="logo">
                <a href="#">
                    <img src="assets/imagenes/Logo1.png" alt="">
                </a>                
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Acerca</a></li>
                        <li><a href="#">Modulos</a></li>
                        <li><a href="#">Funcionalidades</a></li>
                        <li><a href="#">Ventajas</a></li>
                        <li><a href="#">Contactenos</a></li>
                    </ul>
                </nav>  

                <a href="Index.html" class="btn__Inicio">InicioSesion</a>

            </div>
           
        </div>
    </header>
    <main>
        <!--INICIO-->
        <!--Portade de Inicio-->
        <div class="container__cover div__offset">
            <div class="cover">
                <section class="text__cover">
                    <h1>Gestor de Procesos Disciplinarios</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque laudantium dolorum,
                     minima corporis pariatur reprehenderit eligendi at ipsam nostrum laborum ipsa necessitatibus
                     ratione numquam quas veniam! Tempora nisi quae iure!
                     <a href="RegistroUsuario.php" class="btn__text-cover btn__text">Registrar</a>
                    </p>
                </section>
                <section class="image__cover">
                    <img src="assets/imagenes/Behavior.png" alt="">
                </section>
            </div>
        </div>

        <!--Generador de confianza-->

        
        <div class="container__trust container__card-primary">
            <div class="trust card__primary">
                <div class="text__trust text__card-primary">
                    <p>GENERA COFIANZA PRIMERO</p>
                    <H1>Administra tu talento humano con un solo toque</H1>
                </div>
                <div class="container__trust container__box-cardPrimary">
                    <div class="card_trust box__card-primary">
                        <div class="text-center" id="logoIni">
                            <a href="IniciarProceso.php">
                                <img src="assets/imagenes/Simbolo.png" alt="">
                            </a>                
                        </div>
                        <h2> Iniciar Proceso</h2>
                        <p>Iniciar proceso disciplianrio Descargo, Felicitacion, Apelacion.</p>
                    </div>
                    <div class="card_trust box__card-primary">
                        <div class="text-center" id="logoIni">
                            <a href="#">
                                <img src="assets/imagenes/Simbolo.png" alt="">
                            </a>                
                        </div>
                        <h2> Validar Proceso</h2>
                        <p>Validar proceso disciplianrio Descargo, Felicitacion, Apelacion.</p>
                    </div>
                    <div class="card_trust box__card-primary">
                        <div class="text-center" id="logoIni">
                            <a href="#">
                                <img src="assets/imagenes/Simbolo.png" alt="">
                            </a>                
                        </div>
                        <h2> Radicacion</h2>
                        <p>Radicacion de novedades con talento humano con un solo toque.</p>
                    </div>
                </div>
            </div>
        </div>

    
        <!--Sobre nosotros - nuestro equipo-->
        
            <div class="container__about div__offset">
                <div class="about">
                    <div class="text__about">
                        <h1>El equipo creativo mas innovador</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti deserunt 
                        maiores, illo ea quidem numquam, dolorum voluptates repellendus optio
                        fugit eum, accusamus obcaecati nemo voluptas vel consequatur reiciendis
                        necessitatibus eligendi?</p>
                        <a href="CrearProceso.php" class="btn__text-about btn__text">Validar</a>
                    </div>
                    <div class="imagen__about">
                        
                        <img src="assets/imagenes/Behavior2" alt="">
                    </div>
                </div>            
            </div>
    

        

        <!--SERVICIOS-->

        <div class="container__service container__cardprimary div__offset">
            <div class="service card__primary">
                <div class="text__service text__card-primary">
                    <p>QUE HACEMOS</p>
                    <H1>Servicios para resolver todo tipo de problema empresarial</H1>
                </div>

                <div class="container__card-service container__box-cardPrimary">
                    <div class="card__service box__card-primary">
                        <img src="assets/imagenes/1.png" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Nulla blanditiis, repellendus consequuntur veniam laboriosam 
                            earum mollitia quis quisquam quam adipisci, pariatur ut inventore omnis, 
                            expedita consequatur corrupti minus rem fuga.</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="assets/imagenes/2.png" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Nulla blanditiis, repellendus consequuntur veniam laboriosam 
                            earum mollitia quis quisquam quam adipisci, pariatur ut inventore omnis, 
                            expedita consequatur corrupti minus rem fuga.</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="assets/imagenes/3.png" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Nulla blanditiis, repellendus consequuntur veniam laboriosam 
                            earum mollitia quis quisquam quam adipisci, pariatur ut inventore omnis, 
                            expedita consequatur corrupti minus rem fuga.</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="assets/imagenes/4.png" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Nulla blanditiis, repellendus consequuntur veniam laboriosam 
                            earum mollitia quis quisquam quam adipisci, pariatur ut inventore omnis, 
                            expedita consequatur corrupti minus rem fuga.</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="assets/imagenes/5.png" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Nulla blanditiis, repellendus consequuntur veniam laboriosam 
                            earum mollitia quis quisquam quam adipisci, pariatur ut inventore omnis, 
                            expedita consequatur corrupti minus rem fuga.</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="assets/imagenes/6.png" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Nulla blanditiis, repellendus consequuntur veniam laboriosam 
                            earum mollitia quis quisquam quam adipisci, pariatur ut inventore omnis, 
                            expedita consequatur corrupti minus rem fuga.</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--FOOTER-->

        <footer>
        <div class="container__footer">
            <div class="box__footer">
                <div class="logo1">
                    <img src="../Views/assets/imagenes/Logo1.png" alt="">
                    <div class="terms">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Vel quidem esse reiciendis velit quas officiis, fugit animi sequi! 
                            Voluptate sed veniam sequi earum quisquam natus 
                            harum fuga est excepturi et!</p>
                    </div>
                </div>

            </div>
            <div class="box__footer">
                <h2>Soluciones</h2>
                <a href="#">Contactenos</a>
                <a href="#">Georeferenciador</a>
                <a href="#">Nosotros</a>
                <a href="#">Como es como seria</a>             
            </div>
            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="#">Acerca de</a>
                <a href="#">Trabajo</a>
                <a href="#">Procesos</a>
                <a href="#">Servicios</a>             
            </div>
            <div class="box__footer">
                <h2>Social Media</h2>
                <a href="https://www.facebook.com/oandresMontoya"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter-square"></i>Twitter</a>
                <a href="https://www.linkedin.com/in/4ndresmontoya/"><i class="fab fa-linkedin"></i>LinkedIn</a>
                <a href="https://www.instagram.com/andresmontoya.c/"><i class="fab fa-instagram-square"></i>Intagram</a>             
            </div>
        </div>
        <div class="box__copyright">
            <hr>
            <p>
                Todos los derechos reservados Copyright © 2023 <b>BLaw</b>
            </p>
        </div>
        </footer>

    </main>
    <a href="CerrarSesion.php" class="btn btn-danger">Cerrar Sesion</a>
    
</body>

</html>